<style>
.navbar-brand{
	float: left;
}
.navbar{
	border-radius: 0; 
}
.navbar-inverse .navbar-brand{
	color: #fff;
}
.navbar-inverse{
	background-color: #314152;
	border-color: #314152; 
}
.navbar-inverse .navbar-toggle:hover, .navbar-inverse .navbar-toggle:focus{
	background-color: #15293e;
}
.navbar-inverse .navbar-toggle{
	border-color: #fdce4b;
}
.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus{
	background-color: #15293e;
}
.navbar-inverse .navbar-nav > li > a{
	color: #ccc;
}
@media (min-width: 768px){
	.navbar-header{
	float: left;
}
.navbar-collapse{
	padding-right: 0px;
    padding-left: 0px;
	}

.navbar{
	height: 52px;
	margin-bottom: 0;
}
.navbar-inverse .navbar-toggle .icon-bar{
	background-color:#fdce4b;
}
}
@media (max-width: 767px){
	.navbar{
	margin-bottom: 0;
}
.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form{
	position: absolute;
	width: 100%;
	left: 0;
	right: 0;
	background-color: #314152;
}
.navbar-toggle{
	float: right;
	margin-right: 15px;
}

}
	

	</style>
<nav class="navbar navbar-inverse">
	<div class="container-fluid">
	
	<!-- BRAND -->
	<div class="navbar-header">
	<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#alignment-example" aria-expanded="false">
	<span class="sr-only">Toggle navigation</span>
	<span class="icon-bar"></span>
	<span class="icon-bar"></span>
	<span class="icon-bar"></span>
	</button>
	<a class="navbar-brand" href="#">سایت آزمایشی</a>
	</div>
	
	<!-- COLLAPSIBLE NAVBAR -->
	<div class="collapse navbar-collapse" id="alignment-example">
	
	<!-- Links -->
	<ul class="nav navbar-nav">
	<li class="active"><a href="#">خانه <span class="sr-only">(current)</span></a></li>
	<li><a href="#aboutme">درباره من</a></li>
	<li><a href="#contact">ارتباط با من</a></li>
	</ul>
	
	<!-- Search -->
	<!--<form class="navbar-form navbar-right" role="search">
	<div class="form-group">
	<input type="text" class="form-control">
	</div>
	<button type="submit" class="btn btn-default">Search</button>
	</form>-->
	
	</div>
	
	</div>
	</nav>
