.icofont-telegram:before
{
  content: "\ed75";
}
.icofont-instagram:before
{
  content: "\ed46";
}
.icofont-phone-circle:before
{
  content: "\efba";
}
.icofont-ui-text-chat:before
{
  content: "\ec86";
}
.icofont-keyboard-alt:before
{
  content: "\ea3e";
}
.icofont-email:before
{
  content: "\ef12";
}