<style>
    .aboutbox{
        width: 100%;
        height:300px;
      margin: 10px 0;
      
    }
    .Rightside{
        width: 20%;
    height: 100%;
    padding: 10px;
    float: right;
    }
    
    .leftside{
        width: 50%;
    height: 100%;
    float: left;
    padding: 10px;
    overflow: hidden;
    }
    .profileimg{
        width: 30%;
    height: 100%;
    float: right;
    
    }
    .titr{
        width: 100%;
        height: 40px;
        text-align:right;
        font-size: 20px;
        color: #314152;
    }
    .rowdetaile{
     height: 30px;
    line-height: 30px;
    overflow: hidden;
    }
    .txtBio{
    width: 70px;
    float: right;
    font-size: 13px;
    }
    .titleBio{
    float: right;
    font-size: 15px;
    width: calc(100% - 70px);
    }
    
    .profileimg img{
        height: 100%;
        width: 100%;
    height: 100%;
    border: 2px solid #e7e5e5;
    padding: 4px;
    }
    .Resumetext{
        float: right;
    text-align: justify;
    width: 100%;
    line-height: 1.9;
    }
    .Resumetexttitr{
    font-size: 18px;
    color: #314152;
    width: 100%;
    height: 40px;

    }
    .clr{
        width: 100%;
        height: 1px;
        clear: both;
    }
@media (max-width: 767px){
.aboutbox{height: auto;}
.Rightside{
    display: block;
    float: none;
    width: 100%;
    height: 250px;
}
.profileimg{
    display: block;
    float: none;
    width: 100%;
    height: 340px;
}
.leftside{
    display: block;
    float: none;
    width: 100%;
    height: 180px;
    overflow: hidden;
    text-overflow: ellipsis;
}
}
</style>



<div class="aboutbox" id="aboutme">
   <div class="Rightside">
       <div class="titr">اطلاعات شخصی</div>
       <div  class="rowdetaile">
        <span class="txtBio">نام</span>
        <span class="titleBi">علی</span>
      
       </div>
       <div  class="rowdetaile">
            <span class="txtBio">تام خانوادگی</span>
            <span class="titleBi">امیدی</span>
          
           </div>
      
           <div  class="rowdetaile">
                <span class="txtBio">محل تولد</span>
                <span class="titleBi">اصفهان</span>
              
               </div>
               <div  class="rowdetaile">
                    <span class="txtBio">متولد</span>
                    <span class="titleBi">1365.01.01</span>
                  
                   </div>

               <div  class="rowdetaile">
                    <span class="txtBio">تحصیلات</span>
                    <span class="titleBi"> مهندس کامپیوتر</span>
                  
                   </div>
                   <div  class="rowdetaile">
                        <span class="txtBio">آدرس</span>
                        <span class="titleBi"></span>اصفهان-زرین شهر </span>
                      
                       </div>
                       

       </div>
       <div class="profileimg">
                    <img src="Images/dorof.jpg" >
            
        </div>
       <div class="leftside">
            <div class="Resumetext  Resumetexttitr"> طراح و توسعه دهنده وب</div>
            <div class="Resumetext ">
                    وی در اکتبر ۱۹۸۴ در شهر سن پترزبورگ در کشور روسیه متولد شد، اما بیش&zwnj;تر دوران کودکی خود را در شهر تورین ایتالیا سپری کرد. پدر پاول والری دورف، زبان&zwnj;شناس بود و در ایتالیا کار می&zwnj;کرد.[۳][۴] از نوجوانی علاقه وافری به تکنولوژی داشت.

                    در روز ۲۱ آوریل ۲۰۱۴، به عنوان مدیر عامل شرکت وی کی اخراج شد. بعدها دورف ادعا کرد که این شرکت به‌طور واضحی توسط متحدان ولادیمیر پوتین مورد نفوذ قرار گرفته بود. بعد از آن دورف روسیه را ترک کرد و اظهار داشت که او هیچ برنامه ای برای بازگشت ندارد و گفت این کشور در حال حاضر با کسب و کار اینترنتی سازگار نیست. پس از خروج از روسیه، او حق شهروندی در سنت کیتس و نویس، جزیره ای در دریای کارائیب را بدست آورد و بعد از آن توانست شرکت بعدی خود، تلگرام را تأسیس کند.

                    این شرکت به‌طور رسمی در برلین تأسیس شد که یک سرویس پیام رسانی رمزگذاری شده می‌باشد.[۶] او تحصیلات ابتدایی خود را در مدرسه ایتالیایی سپری کرد و بعد از اینکه در سال ۲۰۰۱ به روسیه برگشت، در دانشگاه سن پترزبورگ شروع به درس خواندن کرد و در سال ۲۰۰۶ در رشته علوم زبان فارغ&zwnj;التحصیل شد.
        
            </div>
            
       </div>
       <div class="clr"></div>
   </div>
   
</div>
