.aboutbox{
    width: 100%;
    height: 200px;
    border:1px solid #000;
    box-sizing: border-box;
    background-color:#666;
}
.profileimg{
    width:50%;
    height: 100%;
    float: right;
}
.img{
    width:100%;
    height: 100%;
}
.abuttxt{
    float: left;
    width: 50%;
    height: 100%;
    padding: 10px;
    box-sizing: border-box;
    background-color: #fff;
}
.titr{
    width: 100%;
    height: 30px;
    line-height: 30px;
    font-size: 13px;
    color: #666;
}
.txt{
    width: 100%;
    height: 150px;
    font-size: 15px;
    overflow: hidden;
    text-overflow: ellipsis;
   
}