<style>
    .aboutbox{
        width: 100%;
        height:300px;
       padding: 10px;
      
    }
    .Rightside{
        width: 20%;
        height: 100%;
        padding: 10px;
        float: right;
      
    }
    
    .leftside{
        width: 80%;
        height: 100%; 
        float: left;
    }
    .profileimg{
        width: 300px;
    height: 220px;
    margin-top: 15px;
    margin-right: 71px;
    float: right;
    }
    .titr{
        width: 100%;
        height: 40px;
        text-align:right;
        font-size: 20px;
        margin-top: 15px;
        color: #314152;
    }
    .rowdetaile{
     height: 30px;
    line-height: 30px;
    overflow: hidden;
    }
    .txtBio{
    width: 50px;
    float: right;
    font-size: 13px;
    }
    .titleBio{
    float: right;
    font-size: 15px;
    width: calc(100% - 70px);
    }
    .img{
        width: 100%;
    height: 100%;
    border: 2px solid #e7e5e5;
    padding: 4px;
    }
    .img img{
        width: 100%;
        height: 100%;
    }
    .Resumetext{
    margin-right: 24px;
    float: right;
    width: calc(100% - 430px);
    text-align: justify;
    }
    .Resumetexttitr{
    font-size: 18px;
    margin-top: 22px;
    margin-bottom: 8px;
    color: #314152;

    }

</style>



<div class="aboutbox" id="aboutme">
   <div class="Rightside">
       <div class="titr">اطلاعات شخصی</div>
       <div  class="rowdetaile">
        <span class="txtBio">نام</span>
        <span class="titleBi">علی امیدی</span>
      
       </div>
      
           <div  class="rowdetaile">
                <span class="txtBio">متولد</span>
                <span class="titleBi">اصفهان</span>
              
               </div>

               <div  class="rowdetaile">
                    <span class="txtBio">مدرک تحصیلی</span>
                    <span class="titleBi"> مهندس کامپیوتر</span>
                  
                   </div>
                   <div  class="rowdetaile">
                        <span class="txtBio">آدرس</span>
                        <span class="titleBi"></span>اصفهان-زرین شهر </span>
                      
                       </div>

       </div>
       <div class="leftside">
            <div class="profileimg">
                <div class="img">
                        <img src="Images/dorof.jpg" >
                </div>
            </div>
            <div class="Resumetext  Resumetexttitr"> طراح و توسعه دهنده وب</div>
            <div class="Resumetext ">
                    وی در اکتبر ۱۹۸۴ در شهر سن پترزبورگ در کشور روسیه متولد شد، اما بیش&zwnj;تر دوران کودکی خود را در شهر تورین ایتالیا سپری کرد. پدر پاول والری دورف، زبان&zwnj;شناس بود و در ایتالیا کار می&zwnj;کرد.[۳][۴] از نوجوانی علاقه وافری به تکنولوژی داشت.

                    او تحصیلات ابتدایی خود را در مدرسه ایتالیایی سپری کرد و بعد از اینکه در سال ۲۰۰۱ به روسیه برگشت، در دانشگاه سن پترزبورگ شروع به درس خواندن کرد و در سال ۲۰۰۶ در رشته علوم زبان فارغ&zwnj;التحصیل شد.
        
            </div>
            
       </div>
   </div>
   
</div>
