<!--  تماس با ما    -->
<style>
    .infParent{
    width:100%;
    height:300px;
    background-color:#666;
}
.containerImg{
    float:right;
    width:50%;
    height:100%;
}
.imgUser{
    width:100%;
    height:100%;
}
.contactInfo{
    float:left;
    width:50%;
    height:100%;
    padding-top: 44px;
}
.infos{
    width:100%;
    height:80px;
    color:darkblue;
    font-size:16px;
    padding: 5px 15px;
}
.infTitle{
    float:left;
    width:30px;
    height:30px;
    background-color:#fff;
    margin-right:5px;
    border-radius: 50%;
    text-align: center;
}
.infAnsw{
    width:calc(100% - 35px);
    height: 80px;

}
@media(max-width:480px){
    .infParent{
        height:200px;
    }
    .containerImg{
        width:30%;
    }
    .contactInfo{
        width:70%;
        padding-top: 0;
    }

}
</style>
<div class="container">
    <div class="infParent">
        <div class="containerImg">
            <img src="https://image.cnbcfm.com/api/v1/image/104891709-Bill_Gates_the_co-Founder.jpg?v=1558120888&w=1400&h=950" class="imgUser"/>
        </div>
        <div class="contactInfo">
            <div class="infos">
                <span class="infTitle">fnt</span>
                <span class="infAnsw">088899656768</span>
            </div>
            <div class="infos">
                <span class="infTitle">fnt</span>
                <span class="infAnsw">@abcdef</span>
            </div>
            <div class="infos">
                <span class="infTitle">fnt</span>
                <span class="infAnsw">@abcdef</span>
            </div>
        </div>
    </div>
</div>